<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <div class="section">

    <h1> Snail Scale </h1>
    <h4> Accurate Nutrient Information For Those In A Hurry </h4>

    <div class="video-container">
      <div class="color-overlay">
    <video autoplay loop muted poster="http">
      <source src="background.mp4" type="video/mp4">
    </video>
    </div>
    </div>
  </div>
  
<div class='hero'>
      <h1> The Snail Scale Project </h1>
      <p> Dallas Dominguez Concept Website </p> <br>
       
    </div>
  
  <div><h3>Snail Scale is a product for those looking for fast and accurate nutrient information about the foods they eat. People don't want the hassle of downloading a nutrient info tracking app and doing all the tedious arithmetic themselves to calculate their nutrients. We provide all of that information by simply placing simple food on our scale. </h3></div>
  
<hr>

<div class="extlink"> Click on the Buttons Below to go to our Product page </div>

<div class='btn-grid'>

<div class='btn '> <a href="./kvp">Click Here to View Our Mission Statement</a> </div>
<div class='btn '> <a href="https://youtu.be/gd66ct18WD4">Link to Our YouTube Video</a> </div>

<hr> 
<div class='btn '> <a href="./product">Click Here to See the Product Page and Design Pivots</a> </div>
<div class='btn '> <a href="./productFeatures">Product Features</a> </div>
<div class='btn '> <a href="./productInteractions">Product Interactions</a> </div>
<div class='btn '> <a href="./costsAndRevenue">Costs and Revenue</a> </div>
<hr>