<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile2.css">
  </head>

  <!doctype html>
<html lang="en">

<div class='hero'>
    <h1> The Snail Scale Key-Value Proposition </h1>
         
    </div>
    
<div><h3>People will prefer this solution and it will become another staple tool in the kitchen. Simplifying the process of getting macronutrient information will not be something they have to think or worry about anymore. No longer will they have to handle raw chicken, wash their hands, take out their phone to look up nutrient information based on the scale value, put their phone away, wash hands again, etc. It will make their lives easier and the time consuming process of cooking a more streamlined and pleasurable experience.</h3></div>
    
