<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile5.css">
  </head>

  <!doctype html>
<html lang="en">

    <div class='hero'>
        <h1> Key Product Interactions </h1>

        <ul type = "circle">
          <li>Power On/Off: Toggling Power for the Scale even when plugged into a wall outlet. </li>
          <li>Unit Change: A button to change between grams and ounces for measurement.</li>
          <li>Tare: A button to zero the weight on the scale.</li>
          <li>A Window to display nutritional information from a data table.</li>
          <li>A button to add the metrics from the current item to the previous one.</li>
          <li>A button to remove an item.</li>
          <li>A button to show the sum.</li>
          <li>A window for user input to choose the correct item if the model is uncertain.</li>
       </ul>
             
        </div>
        
   
    




        