<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile3.css">
  </head>

  <!doctype html>
<html lang="en">

    <div class='hero'>
        <h1> The Snail Scale Product Description </h1>
             
        </div>
        
    <div><h3>For people interested in health and fitness who have the need to track their calories in a fast and simple way we are introducing SnailScale. It is a scale with a camera that detects the food type on the scale, weighs it and calculates calories. It’s different from MyFitnessPal and other apps that calculate calories because the user doesn’t have to input any data in order to know the calories, and they just need to put the food on the scale. We generate revenue by hardware purchasing and app subscription.</h3></div>

    <div><h3>Empathy Map</h3></div>
    <img src="../images/empathy.jpg" alt="Deez" width="500" height="600">

    <div><h3>Product Sketch: Initial Ideas and Layout </h3></div>
    <img src="../images/Sketch.jpg" alt="Deez2" width="500" height="600">

    <div><h3>Weighing Plate CAD V1 (Top View) </h3></div>
    <img src="../images/PTV1.jpg" alt="Deez3" width="500" height="600">

    <div><h3>Weighing Plate CAD V1 (Bottom View)</h3></div>
    <img src="../images/PBV1.jpg" alt="Deez4" width="500" height="600">

    <div><h3>Jacob's Law - Users want your system to work the same way as a system they already know. 

      We have designed snail scale in a form similar to a regular food scale. The design is inviting,
      sporting a wide open plate that says "HEY! PUT FOOD ON ME!" Our design is not meant to push stylistic
      boundaries, but instead provide a minimilistic design approach to a complex task. This is reflected
      in the single pillar that houses both the camera and the light, as to not take up more space than needed.</h3></div>

    <div><h3>Law of Proximity - Proximate objects tend to be grouped together. 

      We have grouped a set of buttons together responsible for the operations of power toggling, tare (or zeroing
      out), and changing units from grams to oz, and taking images. The camera and light source are placed together on the tower, and
      all electronics are hidden underneath the cylindrical outer shell. Steve Jobs would be proud.
      </h3></div>

    <div><h3>Hick's Law - Decision Making Time Increases with the number/complexity of options.

      We aimed to make our UI as simple as it can possibly be while still being as easy and as intuitive as
      possible for the user. We have simple operations and most of the electronics are hidden besides the camera lens,
      the light, and the scale interface. We aim to design it to be perceived a singular 'unit' rather than some complex
      device. The selection menu would allow the user to take images, view current measurements, select food options and criteria,
      and see food nutritional info (perhaps externally).</h3></div>

      <div><h3>Hick's Law - Decision Making Time Increases with the number/complexity of options.

        We aimed to make our UI as simple as it can possibly be while still being as easy and as intuitive as
        possible for the user. We have simple operations and most of the electronics are hidden besides the camera lens,
        the light, and the scale interface. We aim to design it to be perceived a singular 'unit' rather than some complex
        device. The selection menu would allow the user to take images, view current measurements, select food options and criteria,
        and see food nutritional info (perhaps externally).</h3></div>

      <div><h3>1) What basic information does a typical user need to have access to on first interaction with your product?

        The point of SnailScale is to minimize the amount of information the user has to manage. The final product would have the user 
        plug the scale into a wall outlet, place the scale on a flat surface, and then the device is ready to use. The user at this point 
        can put food or a plate on the scale and zero it, then begin using the scale! That's it! Our goal is to build a technical product 
        for non-techy people, so we wanted to keep the setup operations short and easy.     
      </h3></div>

      <div><h3>1) What basic information does a typical user need to have access to on first interaction with your product?<br><br>

          The point of SnailScale is to minimize the amount of information the user has to manage. The final product would have the user 
          plug the scale into a wall outlet, place the scale on a flat surface, and then the device is ready to use. The user at this point 
          can put food or a plate on the scale and zero it, then begin using the scale! That's it! Our goal is to build a technical product 
          for non-techy people, so we wanted to keep the setup operations short and easy.     
      </h3></div>

      <div><h3>2) What IA Design Principles (Dan Brown) are important for your product?<br><br>

        Principle of Choices - We only offer 3 buttons on the machine itself. One button for power toggling, one for zeroing, one for changing units. This is all the user should ever need to operate our product.
        Principle of Growth - While version 1 of the Snail Scale only has the basic operations we've outlined, this product could be easily expanded to add features like diet tracking, micronutrient information being displayed, maybe even uploading an entire diet plan from your favorite fitness youtuber and following it to the dime. There is a whole realm of features we could tackle in the fitness and health market. 
        Principle of Focused Navigation - We are keeping the UI very simple in that there are only 3 buttons, and the process of getting macronutrient information is the same for any food one would put on the scale. There are no 'special procedures' needed for certain foods.
             
      </h3></div>

      <div><h3>3) Which structural Organizational Principle(s) make(s) the most the sense for your product?<br><br>

        Sequential - With Snail Scale being a physical product, we have designed it in a way that the user follows a sequence of steps each time they want to use the scale. First, they power on the device, then place the food on the scale (of zeroing if the food is in a cup or on a plate), then read the nutrition info from a screen, and that's it.
      </h3></div>

      <div><h3>Design Process Pivots<br><br>

        Along the way, we have decided to tactically maneuver through a few different pivots within our design process:<br><br>

        Pivot #1: About halfway through the quarter, one of the more significant customer need pivots we made was separating the buttons responsible for the scale operations from the ones responsible for the data operations.
        We identify this as a customer need pivot because our surveys showed users prefer having physical hardware buttons for scale operations. We decided to create those physical buttons, and leave buttons responsible for data
        on the website.<br><br>

        Pivot #2: Another customer need pivot was addressed when we reviewed the design of our original website layout. On the page responsible for interfacing with the SnailScale, we originally had elements arranged in a way that
        didn't have a sequential nature to them. With our pivot, we layed out the elements in a more user friendly way, a way that they would be familiar with and there will be little to no learning curve on first-time use.<br><br>

        Pivot #3: An additional business architecture pivot we made was changing our revenue model from "50+2" ($50 for the SnailScale, $2/month for subscription SnailScale Database) to $49.99 + $1.99 ($49.99 for the SnailScale, $1.99/month for subscription SnailScale Database).
        We made this pivot because according to marketing studies, customers are more likely to buy a product if the price ends in an odd number. 
      </h3></div>



    




        