<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile4.css">
  </head>

  <!doctype html>
<html lang="en">

    <div class='hero'>
        <h1> Top 5 Features </h1>

        <ol type = "1">
          <li> For <b>individuals on-the-go</b> who want to also be able to lose weight, Snail Scale offers food detection capabilities to reduce the amount of time it takes to locate data manually about a specific food.</li>
          <li> For <b>elderly individuals</b>, the product offers a simple-to-use UI for non-techy folks allowing daily use with ease.</li>
          <li> For <b>athletes and diet followers</b>, Snail Scale offers it's quick and accurate macronutrient information so that they can know exactly how much fat, protein, and carbohydrates they are consuming</li>
          <li> For <b>individuals who do not have a lot of room in their kitchen</b>, the Snail Scale offers a relatively small form factor so as to not be too noticeable or take up too much space.</li>
          <li> For <b>individuals intersted in an ever expanding database</b>, Snail Scale provides access to a food database that is constantly being improved and grown.</li>
       </ul>
             
        </div>
        
    

    



    




        